*.vsconfig
Library/
Logs/
Temp/
*.csproj
*.suo
obj/
*.sln
ProjectSettings/
UserSettings/
Assets/TextMesh Pro/
Assets/Samples/
Assets/TextMesh Pro.meta
Assets/Samples.meta
Builds/
.vs/
.vscode
Assets/DefaultVolumeProfile.asset
Assets/DefaultVolumeProfile.asset.meta
Assets/UniversalRenderPipelineGlobalSettings.asset
Assets/UniversalRenderPipelineGlobalSettings.asset.meta
Assets/Plugins/Sirenix
Assets/AddressableAssetsData
AddressableAssetsData.meta
Localizaton.meta
Assets/Localizaton
Assets/Plugins/Demigiant
Assets/Plugins/Demigiant.meta
